<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="xyz.janficko.teevee">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.software.leanback"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <application
        android:name=".TeeVee"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:banner="@mipmap/teevee_banner"
        android:logo="@mipmap/teevee_icon"
        android:theme="@style/Theme.Leanback">
        <activity
            android:name=".ui.onboard.OnboardingActivity"
            android:enabled="true"
            android:exported="true"
            android:theme="@style/Theme.Leanback.Onboarding" />
        <activity
            android:name=".ui.home.MainActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:banner="@mipmap/teevee_banner"
            android:icon="@mipmap/ic_launcher"
            android:logo="@mipmap/teevee_icon"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Leanback.Browse">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.settings.PreferenceActivity"
            android:exported="true"
            android:theme="@style/Theme.Example.LeanbackPreferences"/>
        <activity
            android:name=".ui.settings.AboutActivity"
            android:exported="true"
            android:theme="@style/Theme.Example.LeanbackPreferences"/>
        <activity android:name=".ui.search.SearchActivity" />
        <activity android:name=".ui.detail.DetailActivity"/>
        <activity android:name=".ui.error.BrowseErrorActivity"/>

        <meta-data
            android:name="net.dean.jraw.REDDIT_USERNAME"
            android:value="am1s"/>
    </application>

</manifest>